body{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}
h1,h3{
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
h3{
    text-align: center;
}
.header{
    background: #ff9f1c;
    animation: fadeIn 2s ease-in-out;
    padding: 18px;
    text-align: center;
}
.navigation{
    background: black;
    padding: 15px;
    text-align: center;
}
.navigation-links{
    list-style: none;
    padding: 0;
}
.navigation-links li{
    display: inline;
    margin: 0 15px;
}
.navigation-links a{
    color: #ffcc00;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
.navigation-links a:hover{
    color: #fff;
}
.table{
    background: #f4f4f4;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0  10px black;
    animation: slideUp 1.5s ease-in-out; 
}
td{
    padding: 10px;
    font-size: 16px;
    color: #555;
}
input,select,textarea{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}
.bettan{
    background-color: #28a745;
    color: white;
    margin: 4px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: backgraound 0.3s ease;
    width: 100%;
}
.bettan:hover{
    background-color: #0ac332;
}
input[type="reset"]{
    background-color: #dc3545;
}
input[type="reset"]:hover{
    background-color: #c82333;
}
.main-content {
    padding: 20px;
}
.more-information{
    height: 500px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 60px;
    padding: 30px;
    background: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 0  10px black;
    animation: slideUp 1.5s ease-in-out;
}
.OJASWebsitePhoto{
    width:300px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    transition: transform 0.3s ease;
}
.scroll{
    overflow: scroll;
    height: 350px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    transition: transform 0.3s ease; 
}
.backtohome{
    padding-left: 350px;
}
.footer{
    height: 55px;
    width: 100%;
    display: flex;
    position: fixed;
    background: green;
    color: white;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    bottom:0;
}
.footer a{
    color: #ffcc00;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes slideUp {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
    
}